@using ClubLogBook.Application.ViewModels
@if (FilterViewModel == null | FilterViewModel.ClubSelects == null)
{
    <div>"Loading FilterViewModel"</div>
}
else
{

}
<form>
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="form-group col-4">
                        <label for="SelectClub">Select Club</label>
                        
                    </div>
                    <div class="form-group col-4">
                        <label for="ValidationFault1">Select Airplane</label>
                        
                    </div>
                    <div class="form-group col-4">
                        <label for="ValidationFault1">Select Pilot</label>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="form-group col-4">
                        
                        <select class="custom-select" onchange="ClubSelected">
                            <option value="null">(Select All)</option>

                            @foreach (var i in FilterViewModel.ClubSelects)
                            {
                                <option value="@i.Id">@i.ClubName - (@(i.Id))</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-4">
                        
                        <select class="custom-select" onchange="AirplaneSelected">
                            <option value="null">(Select All)</option>

                            @foreach (var i in @FilterViewModel.AirplaneSelects)
                            {
                                <option value="@i.Id">@i.TailNumber - (@(i.Id))</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-4">
                        
                        <select class="custom-select" onchange="PilotSelected">
                            <option value="null">(Select All)</option>

                            @foreach (var i in @FilterViewModel.PilotSelects)
                            {
                                <option value="@i.Id">@i.FullName - (@(i.IdNumber))</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</form>
@code
{

[Parameter] public  PaginationInfoViewModel PaginationInfo { get; set; }
[Parameter] public FilterViewModel FilterViewModel { get; set; }
[Parameter] public Task Refresh { get; set; }
void PilotSelected(ChangeEventArgs e)
{
    PaginationInfo.ActualPage = -1;
     PaginationInfo.Next = "";
    if (int.TryParse((string)e.Value, out var index) && index >= 0)
    {
        //emp.Pilot = pilots[index];
        FilterViewModel.PilotFilterApplied = index;

    }
    else
        FilterViewModel.PilotFilterApplied = null;

}
void ClubSelected(ChangeEventArgs e)
{
    PaginationInfo.ActualPage = -1;
    PaginationInfo.Next = "";
    if (int.TryParse((string)e.Value, out var index) && index >= 0)
    {
        //emp.Pilot = pilots[index];
        FilterViewModel.ClubFilterApplied = index;

    }
    else
        FilterViewModel.ClubFilterApplied = null;
}
void AirplaneSelected(ChangeEventArgs e)
{
    PaginationInfo.ActualPage = -1;
     PaginationInfo.Next = "";
    if (int.TryParse((string)e.Value, out var index) && index >= 0)
    {
        //emp.Pilot = pilots[index];
        FilterViewModel.AirplaneFilterApplied = index;

    }
    else
        FilterViewModel.AirplaneFilterApplied = null;
}
}